/* == Reset == */

*{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

/* == Variáveis == */

:root{
    --main-color: #580378;
    --light-main-color: #69008B;
    --secondary-color: #EDB941;
    --dark-secondary-color: #F4A701;
    --white-color: #FFFFFF;
}

/* == Html == */

html{
    scroll-behavior: smooth;
}

/* == Body == */

body{
    background-color: var(--light-main-color);
    height: 100vh;
    width: 100vw;
}

.text{
    color: var(--white-color);
    font-family: 'Poppins', sans-serif;
}

/* == Header == */

header{
    padding: 0 1rem 0 1rem;
    background-color: var(--main-color);
    height: 65px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

#btn-menu{
    cursor: pointer;
    height: 50px;
    width: 50px;
}

#logo-img{
    height: 55px;
    width: 55px;
}

/* == Main == */

main{
    height: 100%;
    width: 100%;
    padding: 0 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container-main img{
    height: 40%;
}

#container-main h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6rem;
    height: 4.875rem;
    color: var(--secondary-color);
}

#container-main p{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9rem;
}

#container-text{
    margin: 4rem 0 0 0;
}

.text-main{
    font-weight: bold;
    font-size: 3rem;
    text-align: center;

}

.text-main b{
    color: var(--secondary-color);
}

.text-main-two{
    margin-top: 1rem;
    font-size: 1rem;
    text-align: center;
}

/* == Section == */

section{
    height: 100%;
    width: 100%;
    background-color: #EDB941;
}